/* src/pages/DiveSpotDetails.css */
.spot-details-container {
  height: auto;
  background-image: url('../assets/images/background_DiveSpotsDetails.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(254, 250, 250);
  text-shadow: 1px 1px 2px black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.section {
  margin-bottom: 40px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  min-height: 200px;
  margin-bottom: 40px;
  width: 80%;
}

.carousel p {
  text-align: center;
  font-size: 1.2em;
}

.carousel-image {
  flex: 0 0 auto;
  width: 250px;
  height: auto;
  margin: 0 20px;
  transition: transform 0.3s ease;
}

.carousel-image:hover {
  transform: scale(1.5);
}

.carousel-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.spot-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.upload-container,
.fish-container,
.like-dislike-container,
.users-list-container {
  text-align: center;
  margin-bottom: 40px;
  width: 80%;
}

.upload-container input[type="file"],
.fish-container input[type="text"] {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
}

.fish-container input[type="text"] {
  width: 60%; /* Reduced width for fish input */
  max-width: 300px; /* Maximum width limit */
}

.upload-container button,
.fish-container button {
  margin: 10px 5px;
  padding: 10px 20px;
  background-color: #b43962;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center; /* Center text inside the button */
}

.upload-container button:hover,
.fish-container button:hover {
  background-color: #ad295e;
}

.like-dislike-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center; /* Center text inside the buttons */
}

.like-button,
.dislike-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
}

.like-button {
  background-color: #0e810e86;
}

.like-button:hover {
  background-color: #136919;
}

.dislike-button {
  background-color: #d11609a8;
}

.dislike-button:hover {
  background-color: #a3140a;
}

.like-dislike-buttons .fa-thumbs-up,
.like-dislike-buttons .fa-thumbs-down {
  margin-right: 5px;
}

h1 {
  text-align: center;
  color: #0a88d6;
  font-size: 2em;
}

h2 {
  text-align: center;
  color: #09a094;
  font-size: 1.5em;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

ul li {
  background: rgba(18, 127, 157, 0.538);
  margin: 5px auto;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1em;
  width: 100%;
  max-width: 600px;
  text-align: center; /* Center text inside the list items */
}

.spot-description {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

.navbar-list {
  overflow: hidden;
}

.find-person-button {
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #0a88d6;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  text-align: center;
}

.find-person-button {
  background-color: #1708c286;
}

.find-person-button:hover {
  background-color: #3a0ce0;
}

.register-diver-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  background-color: #009cfe;
  color: white;
  display: block;
  margin: 10px auto;
  width: fit-content;
  text-align: center;
}

.register-diver-button:hover {
  background-color: #009cfe;
}

.register-diver-button.active {
  background-color: #e6007e;
}
