.spots-container {
    height: 155vh;
    background-image: url('../assets/images/background_DiveSpots.jpg'); /* Image de fond */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  
  .spots-title {
    text-align: center;
    color: #426fa2; /* Couleur violette pour le titre */
    font-size: 2em;
    margin-top: 20px; /* Espace en haut pour le titre */
  }
  
  .spots-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Espace entre le titre et la liste des spots */
  }
  
  .spot-item {
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(30, 59, 155, 0.788); /* Fond bleu clair pour les éléments de spot avec transparence */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(172, 22, 22, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .spot-item:hover {
    background-color: rgba(1, 120, 238, 0.8); /* Fond bleu plus clair au survol avec transparence */
  }
  
  .spot-link {
    text-decoration: none;
    color: #ff0099; /* Couleur bleue pour les liens */
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .spot-link:hover {
    text-decoration: underline;
  }
  
  .spot-location {
    font-size: 1em;
    color: #000000; /* Couleur noire pour la localisation */
  }
  