:root {
  --main-bg-color: rgba(40, 79, 186, 0.354);
  --text-color: #675ba7;
  --post-title-color: rgb(22, 255, 189);
  --post-description-color: #fff;
  --button-bg-color: #0669d2b8;
  --button-hover-bg-color: #ff00ee;
  --modal-bg-color: rgb(250, 243, 243);
  --modal-box-shadow-color: rgba(255, 249, 249, 0.1);
  --post-box-shadow-color: rgb(211, 11, 198);
  --post-username-color: #eb0000; /* Changer la couleur pour "Posted by" */
}

.home-container {
  height: 125vh;
  background-image: url('../assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  justify-content: flex-start;
}

.home-container h1 {
  font-size: 2.3em;
  margin-bottom: 30px;
  color: rgb(48, 82, 167);
  margin-top: 40px;
}

.home-container p {
  font-size: 1.5em;
  margin: 0;
  color: rgb(246, 2, 222);
}

.posts-container {
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 80%;
  max-height: 400px;
  overflow-y: auto;
  margin-top: 20px;
}

/* Styles des posts */
.post {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  margin: 20px 0;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px var(--post-box-shadow-color);
}

.post-title {
  color: var(--post-title-color);
  font-size: 1.5em; /* Taille de police pour le titre */
}

.post-description {
  color: var(--post-description-color);
  margin-top: 10px;
  font-size: 1em; /* Taille de police pour la description */
}

.post img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 20px;
  margin-top: 10px;
  object-fit: cover;
}

.post-actions {
  margin-top: 10px;
}

.post-actions button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.post-actions button i {
  margin-right: 5px; /* Espace entre l'icône et le texte */
}

.post-actions button:hover {
  background-color: var(--button-hover-bg-color);
}

.new-post-button {
  margin-bottom: 20px;
  margin-top: 60px;
  padding: 20px 30px;
  background-color: var(--button-bg-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size:large;
}

.new-post-button:hover {
  background-color: var(--button-hover-bg-color);
  
}

/* Styles des modals */
.comments-modal, .new-post-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: var(--modal-bg-color);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--modal-box-shadow-color);
}

.comments-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.comments-list {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.comment {
  padding: 10px;
  border-bottom: 1px solid #e71a1a;
}

.comment-date {
  font-size: 0.8em;
  color: #666;
}

/* Styles des champs de saisie dans les modals */
.new-post-modal input,
.new-post-modal textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #1619be;
  border-radius: 5px;
}

.new-post-modal input[type="file"] {
  padding: 5px;
  border: none;
}

.post-username {
  margin-top: 10px;
  font-size: 0.9em; /* Taille de police plus petite pour "Posted by" */
  color: var(--post-username-color);
}

.post-username a {
  color: var(--post-username-color);
  text-decoration: none;
}

.post-username span {
  color:#010101;
  font-size:75%;
  }
.post-username a:hover {
  text-decoration: underline;
}



.posts-container .post-description {
  color: var(--post-description-color);
  margin-top: 10px;
}
