/* src/components/NavBar.css */

.navbar {
    background-color: #07667c;
    padding: 10px 20px;
  }
  
  .navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar-item {
    margin: 0 15px;
  }
  
  .navbar-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
  }
  
  .navbar-link:hover,
  .navbar-link.active {
    background-color: #e53cb2c7;
  }
  